<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="LinkedInUserName" value=""/> <!--LinkedIn UserName-->
    <add key="LinkedInPassword" value=""/> <!--LinkedIn Password-->
    <add key="ConnectionBatchSize" value="100"/> <!--how many connections you want linkedIn suggest before add all of them-->
    <add key="AddConnectionLimit" value="600"/><!--how many connection invitation in total you want to send-->
    <add key="AddedConnections" value="0"/>
    <!--how many connection invitation you have sent, will be bit higher than the limit due to the batch size-->

  </appSettings>
</configuration>
